<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<title>vishakha agrawal | {{ page.title }}</title>
		<link rel="shortcut icon" type="image/png" href="https://github.com/sxzhang25/sxzhang25.github.io/raw/main/imgs/favicon.png"/>
		<!-- link to main stylesheet -->
	  <link rel="stylesheet" type="text/css" href="/css/main.css">
		<script>
			MathJax = {
			  tex: {
			    inlineMath: [['$', '$'], ['\\(', '\\)']]
			  }
			};
		</script>
		<script id="MathJax-script" async
  		src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
		</script>
		
  </head>
	<header>
		<div class="title-wide"><h1><a href="/">vishakha agrawal</a></h1></div>
		<div class="title-thin"><center><h1><a href="/">vishakha agrawal</a></h1></center></div>
		<div class="nav-wide">
			<nav>
				<ul>
					<li><a href="/projects">projects</a></li>
					<li><a href="/publications">publications</a></li>
					<li><a href="/blog">blog</a></li>
				</ul>
			</nav>
		</div>
		<div class="nav-thin">
		<center>
			<nav>
				<ul>
					<li><a href="/projects">projects</a></li>
					<li><a href="/publications">publications</a></li>
					<li><a href="/blog">blog</a></li>
				</ul>
			</nav>
		</center>
		</div>
	</header>
  <body>
      {{ content }}
<footer>
	<ul>
		<li><a href="https://twitter.com/_vishakha_a"><img src="https://github.com/sxzhang25/sxzhang25.github.io/raw/main/imgs/twitter.png" height="25px" alt="twitter"></a></li>
		<li><a href="https://www.linkedin.com/in/vishakha-a/"><img src="https://github.com/sxzhang25/sxzhang25.github.io/raw/main/imgs/linkedin.png" height="25px" alt="linkedin"></a></li>
		<li><a href="https://github.com/vishakha-a"><img src="https://github.com/sxzhang25/sxzhang25.github.io/raw/main/imgs/github.png" height="25px" alt="github"></a></li>
		<li><a href="mailto:vishakha.agrawal09@gmail.com"><img src="https://github.com/sxzhang25/sxzhang25.github.io/raw/main/imgs/email.png" height="25px" alt="email"></a></li>
		<li><span class="symbol"><a href="/random.html">✎ Mar 2021</a></span></li>
	</ul>
</footer>
</body>
</html>
